body{
    font-family: 'Noto Sans TC', sans-serif;
}

img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a{
    text-decoration: none;
}

ul, ol{
    margin-bottom: 0px;
}

h1, h2, h3, h4, h5, h6, p{
    margin-bottom: 0px;
}