$utilities: map-merge(
  $utilities,
  (
    
    "font-size": map-merge(
      map-get($utilities, "font-size"),
      (
        responsive: true,
        rfs: false,
      ),
    ),

    "font-weight": map-merge(
      map-get($utilities, "font-weight"),
      (
        values: 
            map-merge(
                map-get(map-get($utilities, "font-weight"), "values"),
                (
                    medium: $font-weight-medium,
                    black: $font-weight-black,
                )
            ),
      ),
    ),

    "rounded": map-merge(
      map-get($utilities, "rounded"),
      (
        values: 
            map-merge(
                map-get(map-get($utilities, "rounded"), "values"),
                (
                    4: $border-radius-xl,
                )
            ),
      ),
    ),

    "z-index": (
      property: z-index,
      values: (
        n5: -5,
        n3: -3,
        n1: -1,
        3: 3,
      )
    ),

  )
);