.hover{
    // bg
    &Bg--primary{
        &:hover{
            color: $white;
            border-color: $primary;
            background-color: $primary;
        }
    }

    &Bg--secondary{
        &:hover{
            color: $white;
            border-color: $secondary;
            background-color: $secondary;
        }
    }

    // text
    &Text--secondary{
        &:hover{
            color: $secondary !important;
        }
    }

    // img
    &Img--bigger{
        transform: scale(1);
        transition: all .5s;
        &:hover{
            transform: scale(1.07);
        }
    }
}